.yellow-button {
  width: 180px;
  height: 65px;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fcd20d;
  color: #06374f;
}

.home-banner {
  .button-group {
    position: absolute;
    bottom: 0;

    .yellow-button {
      background-color: #fcd20d;
      text-transform: uppercase;
      width: 290px;
      height: 103px;
      font-size: 24px;
      border-radius: 0;
    }

    .right {
      margin-left: auto;
    }

    .button-icon {
      background-color: #329fb9;
      width: 108px;
      display: flex;
      justify-content: center;

      .button-image {
        width: 55px;
      }
    }
  }
}

.dark-blue-button {
  width: 180px;
  height: 65px;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #06374f;
  color: white;
}
