.grey-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f0f0f0;

  h1 {
    font-size: 60px;
  }

  .carousel-section {
    position: relative;

    .dark-blue-background {
      background-color: #06374f;
      height: 340px;
      width: 100%;
      position: absolute;
    }
  }
}
